@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,800);
@import url(https://fonts.googleapis.com/css?family=Quicksand:400,700);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);


/*******************************************************/
/*				  	 Main Styles					   */
/*******************************************************/

body {
	color: #02111b;
	font-family: 'Open Sans', sans-serif;
	margin: 0 auto
}

h1 {
	font-family: 'Oswald', sans-serif;
	font-size: 5em;
	margin-bottom: 10px;
	margin-top: 0px;
	text-align: center;
	color: #cd322e;
}

h2  {
	margin-top: 0px;
	text-align: center;
}

h3  {
	font-family: 'Oswald', sans-serif;
	font-size: 3em;
	text-align: center;
	margin-bottom: 10px;
	color: #cd322e;
}

hr {
	background-color: #cd322e;
}

.emph {
	color: #cd322e;
	font-weight: bold;
}

/*******************************************************/
/*		  	   Overwrite Bootstrap Stuff		       */
/*******************************************************/

.bg-primary {
	background-color: white!important;
	padding: 116px 0 60px;
}

section {
    padding: 100px 0;
}

#intro {
	background-color: #e6e6e6!important;
}

.divide {
	display: block;
    padding: .25rem 0.1rem;
	font-size: 1.25em;
	color: white;
}

.nav-link {
	transition: .3s color;
}
.nav-item a:hover {
	color: #cd322e!important;
}
