@import url(http://fonts.googleapis.com/css?family=Open+Sans:700,300,600,800,400);
@import url(https://fonts.googleapis.com/css?family=Quicksand);


/* --- References --- 
	https://coolors.co/5d737e-fcfcfc-02111b-000000-b5e61d


*/

body {
	background-color: #fcfcfc;
	color: #02111b;
	font-family: 'Open Sans', sans-serif;
	margin: 0px;
}

.header-fixed {
	display: table;
	position: fixed;
	width:100%;
	height: 50px;
	background-color: #5d737e;
}

.logo {
	padding-left: 100px;
	display: table-cell;
	width: 200px;
	vertical-align: middle;
	line-height: 0;
}

.logo img  {
	width: 100%;
	height: auto;
	min-width: 150px;
}

.menu {
	padding-right: 100px;
}

.menu ul {

}


.menu li {
	display: table-cell;
	vertical-align: middle;
	text-align: left;
	padding: 10px;
	padding-right: 20px;
}

.menu a {
	font-family: 'Quicksand';
	font-style: bold;
	font-size: 2em;

	text-decoration: none;
	color: #02111b;
	transition: .3s color;
}

.menu a:hover {
	color: #B5E61D;
}
 
.menu  a.active {
	color: white;
}
 

.content {
	padding: 100px;
	padding-top: 125px;
	padding-bottom: 25px;
}
